apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-config
  namespace: monitoring
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush        1
        Log_Level    info
    [INPUT]
        Name              tail
        Tag               kube.*
        Path              /var/log/containers/*.log
        Parser            docker
    [OUTPUT]
        Name  kafka
        Match kube.*
        Brokers my-cluster-kafka-bootstrap.kafka:9092
        Topics  telemetry.logs
  parsers.conf: |
    [PARSER]
        Name        docker
        Format      json
